.cl-1{
    background-color: antiquewhite;
}
.cl-2{
    background-color: burlywood;
}
.cl-3{
    background-color: rgb(161, 191, 192);
}
.cl-4{
    background-color: rgb(148, 170, 110);
}
.cl-5{
    background-color: rgb(219, 189, 219);
} 